body {
    background: #bbe6fa;
}


.container{
    background-color:#0076fb;
    width: inherit;
    height: inherit;
    margin:  auto;
    margin-top: 35px;
    border-radius: 5px;
    padding: 10px;
}


